body{
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  background-image: url('../assets/images/hero.gif');
  background-repeat: no-repeat;
  background-size: 100%;

}

header{
  width: 100%;
  height: 118px;
}

footer{
  width: 100%;
  height: 542px;
  background-color: #333447;
  color: white;
  margin-top: -20px;
}

#img{
  float: left;
  height: 118px;
  width: 58.3%;
}

#img img{
  width: 70px;
  margin: 34px 83px;
}

#menu{
  float: right;
  height: 118px;
  width: 41.7%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  float: left;
}

nav a{
  display: block;
  font-size: 18px;
  font-weight:500;
  padding: 20px;
  color: white;
  text-decoration: none;
  margin-top: 27px;
}

p a{
  float: left;
  width: 60px;
  padding: 13px 19px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  margin-top: 33px;
  margin-left:16px;
  border-radius: 10px;

}

#contenedor-seccion-uno{
  width: 100%;
  height: 641px;
}

#cuadro-blanco{
  width: 563px;
  height: 480px;
  float: right;
  background-color: white;
}

#contenedor-seccion-dos{
  margin-top: -20px;
  width: 100%;
  height: 643px;
  background: linear-gradient(#76278F, #2B1E66);
}

#txt-s2{
  float: left;
  width: 48%;
  height: 643px;
}

#img-s2{
  float: right;
  width: 52%;
  height: 643px;
}

#img-s2 img{
  width: 470px;
  margin: 80px 50px;
}

#contenedor-seccion-tres{
  width: 100%;
  height: 506px;
  /* background-color: yellow; */
}

#texto-v1{
  float: left;
  /* background-color: purple; */
  width: 40%;
  height: 506px;
}

#caja-video1{
  float: right;
  width: 60%;
  height: 506px;
  /* background-color: black; */
}

#contenedor-seccion-cuatro{
  /* background-color: orange; */
  width: 100%;
  height: 506px;
}

#caja-video2{
  float: left;
  width: 60%;
  height: 506px;
  /* background-color: navajowhite; */
}

#texto-v2{
  float: right;
  width: 40%;
  height: 506px;
  /* background-color: mediumturquoise; */
}

#cinco{

  width: 100%;
  height: 506px;
  /* background-color: green; */
}

#texto-v3{
  float: left;
  width: 40%;
  height: 506px;
  /* background-color: oldlace; */
}

#columnas-pie{
    color: white;
}

#caja-video3{
  float: right;
  width: 60%;
  height: 506px;
}

#v1, #v2, #v3{
  width: 809px;
  height: 506px;
}

p{
    margin: 0;

}


.text{
  color: white;
  font-size: 18px;
  margin: 0;
}

#contenido-texto-uno{

  color: white;
  height: 500px;
  width: 500px;
  margin: 95px 130px;

}

.text1{
  margin: 0;
  line-height: 20px;
}

.tit{
  margin-top: 30px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 70px;
  margin: 0;
  line-height: 60px;
  margin-top: 10px;
}

.tit2{
  margin-top: -60;

  margin-top: 30px;
  font-size: 30px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.t-1 {
  margin-top: 20px;
  margin-left: 60px;
  color: #000000;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: -1px;
}

.t-2{
  margin-left: 60px;
  color: #000000;
  font-size: 29px;
  font-weight: 700;

}

.t-3{
  margin-top: 20px;
  margin-left: 60px;
  color: #000000;
  font-size: 17px;
  width: 68%;
  line-height: 25px;
  font-weight: 500;
}

.c-1{
  margin-top: 30px;
  float: left;
  margin-left: 120px;
  line-height: 50px;
  color: white;
}
.c-2{
  color: white;
  margin-top: 30px;
  float: left;
  margin-left: 160px;
  line-height: 50px;
}

.c-3{
  color: white;
  margin-top: 30px;
  float: left;
  margin-left: 160px;
  line-height: 50px;
}

.strong{
  font-size: 20px;
  font-weight: 500;
}

.logos{
  float: left;
  width: 130px;
  margin-left: 210px;
  margin-top: 60px;
  line-height: 75px;
}

.apple{
  width: 130px;
}

.google{
  width: 130px;
}

.microsoft{
  width: 130px;
}

.redes{
  clear: both;
  width: 100%;
  text-align: center;
}

i{
  margin-top: 60px;
  margin-left: 60px;
}

.face, .inst, .twit{
  color: white;
  border: 1px solid white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 8px;
}

hr {
  width: 60%;
  margin-top: 25px;
 }

.pie{
  margin-top: 40px;
  margin-left: 60px;
  text-align: center;
  font-size: 17px;
}

li a:hover:not(.active), p a:hover:not(.active){
  color: #FF00BF;
  text-decoration: underline;
}


.up:hover:not(.active), .c-1 p:hover:not(.active), .c-2 p:hover:not(.active), .c-3 p:hover:not(.active){
  color: #FF00BF;
  text-decoration: underline;
}

.h1{
  margin: 55px 55px;
  color: #352384;
  font-size: 40px;
  width: 50%;
  font-weight: 600;
}

.sing{
  margin-left: 55px;
  font-weight: bold;
  color: #352384;
  font-size: 14px;
  transform:scaleY(1.1);
}

input {
  margin: 20px 0px 0px 55px;
  line-height: 20px;
  font-size: 17px;
  border: none;
  outline: none;
}

::placeholder{
  color: #C3C3C3;
  font-weight: bold;
}

#form hr {
  width: 83%;
  margin-top: 10px;
  margin-left: 55px;
  margin-bottom: 50px;
}

.bottom{
  font-size: 17px;
  color: white;
  background: #FF00B9;
  padding: 18px;
  text-align: center;
  border-radius: 10px;
  width: 27%;
  margin-left: 55px;
  margin-top: -15px;
  float: left;
}

.up{
  width: 20%;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  color: #450965;
  margin-left: 40px;
  font-weight: 500;
  text-decoration: none;
}

.learn{
  /* clear: both; */
  float: left;
  margin-top: 30px;
  margin-left: 60px;
  font-size: 10px;
  width: 55%;
  line-height: 30px;
  color: #450965;
}
