body{
  background-image: url('../assets/images/hero.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

header{
  height: 118px;
  width: 100%;
}

footer{
  background-color: #333447;
  color: white;
  height: 542px;
  margin-top: -20px;
  width: 100%;
}

#img{
  float: left;
  height: 118px;
  width: 58.3%;
}

#img img{
  margin: 34px 83px;
  width: 70px;
}

#menu{
  float: right;
  height: 118px;
  width: 41.7%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  float: left;
}

nav a{
  color: white;
  display: block;
  font-size: 18px;
  font-weight:500;
  margin-top: 27px;
  padding: 20px;
  text-decoration: none;
}

p a{
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  float: left;
  margin-top: 33px;
  margin-left:16px;
  padding: 13px 19px;
  text-decoration: none;
  width: 60px;
}

#contenedor-seccion-uno{
  height: 641px;
  width: 100%;
}

#cuadro-blanco{
  background-color: white;
  float: right;
  height: 480px;
  width: 563px;
}

#contenedor-seccion-dos{
  background: linear-gradient(#76278F, #2B1E66);
  height: 643px;
  margin-top: -20px;
  width: 100%;
}

#txt-s2{
  float: left;
  height: 643px;
  width: 48%;
}

#img-s2{
  float: right;
  height: 643px;
  width: 52%;
}

#img-s2 img{
  margin: 80px 50px;
  width: 470px;
}

#contenedor-seccion-tres{
  height: 506px;
  width: 100%;
}

#texto-v1{
  float: left;
  height: 506px;
  width: 40%;
}

#caja-video1{
  float: right;
  height: 506px;
  width: 60%;
}

#contenedor-seccion-cuatro{
  height: 506px;
  width: 100%;
}

#caja-video2{
  float: left;
  height: 506px;
  width: 60%;
}

#texto-v2{
  float: right;
  height: 506px;
  width: 40%;
}

#cinco{
  height: 506px;
  width: 100%;
}

#texto-v3{
  float: left;
  height: 506px;
  width: 40%;
}

#columnas-pie{
    color: white;
}

#caja-video3{
  float: right;
  height: 506px;
  width: 60%;
}

#v1, #v2, #v3{
  height: 506px;
  width: 809px;
}

p{
    margin: 0;
}

#contenido-texto-uno{
  color: white;
  height: 500px;
  margin: 95px 130px;
  width: 500px;
}

.text1{
  line-height: 20px;
  margin: 0 10px;
  margin-bottom: 60px;
}

.tit{
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 70px;
  margin-left: 10px;
}

.tit2{
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  margin: 30px 10px;
  width: 350px;
}

.t-1 {
  color: #000000;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: -1px;
  margin-top: 20px;
  margin-left: 60px;
}

.t-2{
  color: #000000;
  font-size: 29px;
  font-weight: 700;
  margin-left: 60px;
}

.t-3{
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 60px;
  line-height: 25px;
  width: 68%;
}

.c-1{
  color: white;
  float: left;
  margin-top: 30px;
  line-height: 50px;
  margin-left: 120px;
}

.c-2{
  color: white;
  float: left;
  line-height: 50px;
  margin-left: 160px;
  margin-top: 30px;
}

.c-3{
  color: white;
  float: left;
  line-height: 50px;
  margin-left: 160px;
  margin-top: 30px;
}

.strong{
  font-size: 20px;
  font-weight: 500;
}

.logos{
  float: left;
  line-height: 75px;
  margin-left: 210px;
  margin-top: 60px;
  width: 130px;
}

.apple{
  width: 130px;
}

.google{
  width: 130px;
}

.microsoft{
  width: 130px;
}

.redes{
  clear: both;
  text-align: center;
  width: 100%;
}

i{
  margin-left: 60px;
  margin-top: 60px;
}

.face, .inst, .twit{
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  height: 16px;
  padding: 8px;
  width: 16px;
}

hr {
  margin-left: 320px;
  margin-top: 25px;
  width: 60%;
 }

.pie{
  font-size: 17px;
  margin-left: 60px;
  margin-top: 40px;
  text-align: center;
}

ul> li >a:hover:not(.active), nav>p>a:hover:not(.active){
  color: #FF00BF;
  text-decoration: underline;
}

.up:hover:not(.active), .c-1 p:hover:not(.active), .c-2 p:hover:not(.active), .c-3 p:hover:not(.active){
  color: #FF00BF;
  text-decoration: underline;
}

.h1{
  color: #352384;
  font-size: 40px;
  font-weight: 600;
  margin: 55px 55px;
  width: 50%;
}

.sing{
  color: #352384;
  font-size: 14px;
  font-weight: bold;
  margin-left: 55px;
  transform:scaleY(1.1);
}

input {
  border: none;
  font-size: 17px;
  line-height: 20px;
  margin: 20px 0px 0px 55px;
  outline: none;
}

::placeholder{
  color: #C3C3C3;
  font-weight: bold;
}

#form hr {
  margin-left: 55px;
  width: 83%;
  margin-bottom: 40px;
}

.bottom{
  background: #FF00B9;
  border-radius: 10px;
  color: white;
  float: left;
  font-size: 17px;
  font-weight: 600;
  margin-left: 55px;
  margin-top: -15px;
  padding: 18px;
  text-align: center;
  width: 27%;
}

.up{
  color: #450965;
  font-weight: 500;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 40px;
  text-decoration: none;
  width: 20%;
}

.learn{
  color: #450965;
  float: left;
  font-size: 10px;
  line-height: 30px;
  margin-top: 30px;
  margin-left: 60px;
  width: 55%;
}
